@import "../../components/css/tags.css";

.table-box,
.similar {
  width: 95%;
}

.similar {
  margin-top: 15px;
}
.similar button {
  background-color: #17344f;
  border: 2px #d9d9d9 solid;
  color: #e8f92e;
}

.arrows {
  display: flex;
  flex-direction: row;
}

.arrow {
  font-weight: bold;
  font-size: 24;
  margin: 0px 10px;
}
.arrow:hover {
  cursor: pointer;
}
